	<div id="header">
		<div class="hbox">
			<div class="hleft">
				<a href="/"><img src="/images/logo-small.png" /></a>
			</div>
			<div class="hmiddle">
				<ul class="nav"></ul>
			</div>
			<div class="hright">
				<!-- <a class="lang-en" href="http://vkdemo.sinaapp.com/icatjs/index.html">iCAT</a> -->
				<!-- <a class="lang-en" href="http://demo.hankewins.com/dpl/index.php">DPL</a> -->
				<!-- <a href="/feedback">留言</a> -->
				<!--<a href="mailto:hankewins@gmail.com">联系</a>-->
				<!-- <a href="javascript:void(0)">联系</a> -->
			</div>
		</div>
	</div>