<!DOCTYPE html>
<html>
<head>
    <% include _inc.html %>
</head>
<body>
    <% include header.html %>
    <div id="container">
        <div class="main">
            <div class="bl-detail">
                <div class="bl-title">
                    <h1>用心感受生活，用视觉鞭笞思想</h1>
                    <!-- <p class="author-time">
                        <label>作者：</label>
                        <a href="http://dev.node.gionee.com" rel="author">Hankewins</a>　|　 
                        <label>时间：</label><em>2013-05-22 10:52</em>
                    </p> -->
                </div>
                <div class="bl-content">
                    <p>最近有些迷茫，不知道自己做了些什么，一下子感觉心里很空虚，每天看的最多的是网易新闻，似乎奇葩事情已不是在那么的奇怪，只是没有关注或者没有报道出来而已。看的多了，想的也就多了，久违的周公近期在我的心灵小站活动频频，难道周公不去光顾那些“美少女”了吗?我惊叹呼！</p>
                    <p>以前大家都教我用心感受生活，总能有所收获。今天我不经意的要问：“不专注的心还能感受生活吗？”，迷茫的时刻，我发现自己不在专注，感觉很多东西要去多，这个弄弄那个弄弄，似乎还很忙的样子（其实什么都没有做成），连冷静思考的时间都没有似的。</p>
                    <p>今天又是大周六，头脑风暴（3分钟）自由演讲，为了给自己充足的时间去头脑风暴，我选择了最后一个演讲。从心里回顾一下近期的工作以及生活等等方面，我确定了主题“耳听为虚，眼见为实，用心感受生活，用视觉鞭笞思想”，用它来概括这次涉及到的话题“梦、健康、人生价值、无奈生活”。</p>
                    <p>冷静思考为了“梦、健康、人生价值、无奈生活”。</p>
                    <p>中国梦 － 个人梦</p>
                    <p>健康 － 奋斗</p>
                    <p>人生价值 － 努力</p>
                    <p>无奈生活 － 人生选择</p>
                    <p>本文固定链接: http://www.hankewins.com/record-life-20130907/ | 前端生活</p>
                </div>
                <div class="comment">
                    <div id="uyan_frame"></div>
                </div>
            </div>
        </div>
        <!-- sidebar area start -->
        <div class="sidebar">
            <div class="weibo">
                <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=0&isWeibo=1&isFans=1&uid=2077389457&verifier=006db0cc&dpc=1"></iframe>
            </div>
        </div>
        <!-- sidebar area end -->
    </div>
    <% include wallpapers.html %>
    <!-- UY BEGIN -->
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1838737"></script>
    <!-- UY END -->
    <% include footer.html %>
</body>
</html>