<!DOCTYPE html>
<html>
<head>
    <% include _inc.html %>
    <style type="text/css">
        #uyan_ottype,#uyan_sort,a[href="http://www.uyan.cc"]{visibility: hidden !important;}
        #uyan_top,#uyan_loginot{display:none;}
    </style>
</head>
<body>
    <% include header.html %>
    <div id="container">
        <div class="content feedback">
            <div class="comment">
                <h1 class="title">我要留言:</h1>
                <div id="uyan_frame"></div>
            </div>
        </div>
    </div>
    <% include wallpapers.html %>
    <!-- UY BEGIN -->
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1838737"></script>
    <!-- UY END -->
    <% include footer.html %>
</body>
</html>