<!DOCTYPE html>
<html>
<head>
    <% include _inc.html %>
<link rel="stylesheet" href="/stylesheets/fonts.css" />
<!--[if lte IE 7]><script src="/javascripts/lte-ie7.js"></script><![endif]-->
</head>
<body>
	<% include header.html %>
	<div id="container">
		<div id="icon-fonts">
			<h2>使用方法 在需要使用的地方，添加 class="icon-NAME"  即可。</h2>
			<ul>
				<li class="box1"><i aria-hidden="true" class="icon-pencil"></i>icon-pencil</li>
				<li class="box1"><i aria-hidden="true" class="icon-home"></i>icon-home</li>
				<li class="box1"><i aria-hidden="true" class="icon-image"></i>icon-image</li>
				<li class="box1"><i aria-hidden="true" class="icon-camera"></i>icon-camera</li>
				<li class="box1"><i aria-hidden="true" class="icon-headphones"></i>icon-headphones</li>
				<li class="box1"><i aria-hidden="true" class="icon-film"></i>icon-film</li>
				<li class="box1"><i aria-hidden="true" class="icon-bullhorn"></i>icon-bullhorn</li>
				<li class="box1"><i aria-hidden="true" class="icon-connection"></i>icon-connection</li>
				<li class="box1"><i aria-hidden="true" class="icon-tag"></i>icon-tag</li>
				<li class="box1"><i aria-hidden="true" class="icon-cart"></i>icon-cart</li>
				<li class="box1"><i aria-hidden="true" class="icon-phone"></i>icon-phone</li>
				<li class="box1"><i aria-hidden="true" class="icon-envelop"></i>icon-envelop</li>
				<li class="box1"><i aria-hidden="true" class="icon-location"></i>icon-location</li>
				<li class="box1"><i aria-hidden="true" class="icon-mobile"></i>icon-mobile</li>
				<li class="box1"><i aria-hidden="true" class="icon-search"></i>icon-search</li>
				<li class="box1"><i aria-hidden="true" class="icon-cog"></i>icon-cog</li>
				<li class="box1"><i aria-hidden="true" class="icon-rocket"></i>icon-rocket</li>
				<li class="box1"><i aria-hidden="true" class="icon-remove"></i>icon-remove</li>
				<li class="box1"><i aria-hidden="true" class="icon-bubble"></i>icon-bubble</li>
				<li class="box1"><i aria-hidden="true" class="icon-spinner"></i>icon-spinner</li>
				<li class="box1"><i aria-hidden="true" class="icon-heart"></i>icon-heart</li>
				<li class="box1"><i aria-hidden="true" class="icon-star"></i>icon-star</li>
				<li class="box1"><i aria-hidden="true" class="icon-html5"></i>icon-html5</li>
				<li class="box1"><i aria-hidden="true" class="icon-undo"></i>icon-undo</li>
				<li class="box1"><i aria-hidden="true" class="icon-google-plus"></i>icon-google-plus</li>
				<li class="box1"><i aria-hidden="true" class="icon-facebook"></i>icon-facebook</li>
				<li class="box1"><i aria-hidden="true" class="icon-twitter"></i>icon-twitter</li>
				<li class="box1"><i aria-hidden="true" class="icon-github"></i>icon-github</li>
				<li class="box1"><i aria-hidden="true" class="icon-wordpress"></i>icon-wordpress</li>
				<li class="box1"><i aria-hidden="true" class="icon-android"></i>icon-android</li>
				<li class="box1"><i aria-hidden="true" class="icon-windows8"></i>icon-windows8</li>
				<li class="box1"><i aria-hidden="true" class="icon-linkedin"></i>icon-linkedin</li>
				<li class="box1"><i aria-hidden="true" class="icon-file-css"></i>icon-file-css</li>
				<li class="box1"><i aria-hidden="true" class="icon-chrome"></i>icon-chrome</li>
				<li class="box1"><i aria-hidden="true" class="icon-firefox"></i>icon-firefox</li>
				<li class="box1"><i aria-hidden="true" class="icon-IE"></i>icon-IE</li>
				<li class="box1"><i aria-hidden="true" class="icon-opera"></i>icon-opera</li>
				<li class="box1"><i aria-hidden="true" class="icon-safari"></i>icon-safari</li>
				<li class="box1"><i aria-hidden="true" class="icon-github-2"></i>icon-github-2</li>
				<li class="box1"><i aria-hidden="true" class="icon-console"></i>icon-console</li>
				<li class="box1"><i aria-hidden="true" class="icon-loop"></i>icon-loop</li>
				<li class="box1"><i aria-hidden="true" class="icon-user"></i>icon-user</li>
				<li class="box1"><i aria-hidden="true" class="icon-bell"></i>icon-bell</li>
				<li class="box1"><i aria-hidden="true" class="icon-qrcode"></i>icon-qrcode</li>
				<li class="box1"><i aria-hidden="true" class="icon-exit"></i>icon-exit</li>
			</ul>
		</div>
    </div>
    <!-- <% include wallpapers.html %> -->
	<% include footer.html %>
</body>
</html>