<!DOCTYPE html>
<html>
<head>
	<% include _inc.html %>
</head>
<body>
	<% include header.html %>
	<div id="container">
		<div class="indexIntro">
			<ul>
				<li><a class="info-pic" href="http://www.github.com/hankewins/" title="Hankewins"><img src="https://1.gravatar.com/avatar/3c727687ac031937714cadcce7c9418d?s=120" alt="Hankewins" /></a></li>
				<li><span class="info-nickname">我是 Hankewins</span></li>
				<li><span class="info-constellation">80后 处女男</span></li>
				<li><span class="info-like">喜欢拆卸，喜欢代码，喜欢冥想</span></li>
				<li><span class="info-motto">喜欢一切能触发心灵的东西</span></li>
<!-- 				<li><span class="info-motto">也许我是注定了平凡的，也许我真的没有翅膀，但是我有梦想。只要带着梦想，不放弃，海阔天空人你飞！</span></li>
				<li> -->
					<a class="info-sns info-qq" href="http://wpa.qq.com/msgrd?v=3&uin=726927378&site=qq&menu=yes" title="QQ"><span>QQ</span></a>
					<a class="info-sns info-weibo" href="http://weibo.com/hankewins" title="微博"><span>Weibo</span></a>
					<a class="info-sns info-google" href="https://plus.google.com/116576795878625530902" title="Google+"><span>Google+</span></a>
					<a class="info-sns info-facebook" href="https://wwww.facebook.com/hankewins/" title="Facebook"><span>Facebook</span></a>
				</li>
			</ul>
		</div>
    </div>
	<% include wallpapers.html %>
	<% include footer.html %>
</body>
</html>