@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#uxiconfont') format('svg');
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font-awesome/font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font-awesome/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font-awesome/font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font-awesome/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font-awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.zh-icon-qq{
  font-family: 'iconfont';
  font-style: normal;
  font-weight: normal;
  right: 50% !important;
  top: 50% !important;
  margin:-10px -25px 0 0;
}


.zh-icon-weibo:before,
.zh-icon-renren:before{
  font-family: 'FontAwesome';
}

.zh-icon-weibo:before {
  content: "\f18a";
}
.zh-icon-renren:before {
  content: "\f18b";
}

.icon-delicious:before { content: '\23'; } /* '#' */
.icon-android:before { content: '\26'; } /* '&amp;' */
.icon-fivehundredpx:before { content: '\30'; } /* '0' */
.icon-sun-inv:before { content: '\31'; } /* '1' */
.icon-pinterest-1:before { content: '\e800'; } /* '' */
.icon-foursquare:before { content: '\34'; } /* '4' */
.icon-html5:before { content: '\35'; } /* '5' */
.icon-ie:before { content: '\36'; } /* '6' */
.icon-grooveshark:before { content: '\38'; } /* '8' */
.icon-appstore:before { content: '\41'; } /* 'A' */
.icon-youtube:before { content: '\55'; } /* 'U' */
.icon-windows:before { content: '\57'; } /* 'W' */
.icon-yahoo:before { content: '\59'; } /* 'Y' */
.icon-chrome:before { content: '\5b'; } /* '[' */
.icon-email:before { content: '\5d'; } /* ']' */
.icon-amazon:before { content: '\61'; } /* 'a' */
.icon-tumblr-1:before { content: '\74'; } /* 't' */
.icon-wordpress:before { content: '\77'; } /* 'w' */
.icon-cart:before { content: '\c9'; } /* 'É' */
.icon-left-2:before { content: '\e80e'; } /* '' */
.icon-left-1:before { content: '\e809'; } /* '' */
.icon-left:before { content: '\2190'; } /* '←' */
.icon-up-2:before { content: '\e811'; } /* '' */
.icon-up-1:before { content: '\e80a'; } /* '' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-right-2:before { content: '\e80f'; } /* '' */
.icon-right-1:before { content: '\e80b'; } /* '' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-down-2:before { content: '\e80d'; } /* '' */
.icon-down-1:before { content: '\e80c'; } /* '' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-music:before { content: '\266b'; } /* '♫' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-quote-left:before { content: '\275d'; } /* '❝' */
.icon-quote-right:before { content: '\275e'; } /* '❞' */
.icon-direction:before { content: '\27a2'; } /* '➢' */
.icon-ok-circle2:before { content: '\e702'; } /* '' */
.icon-cancel-circle2:before { content: '\e703'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-language:before { content: '\e752'; } /* '' */
.icon-air:before { content: '\e753'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-list-alt:before { content: '\e790'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-gauge:before { content: '\e7a2'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-baseball:before { content: '\e806'; } /* '' */
.icon-basketball:before { content: '\e807'; } /* '' */
.icon-college:before { content: '\e810'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-soccer:before { content: '\e837'; } /* '' */
.icon-swimming:before { content: '\e838'; } /* '' */
.icon-tennis:before { content: '\e839'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-flickr-circled:before { content: '\f304'; } /* '' */
.icon-icq:before { content: '\e801'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-blogger:before { content: '\f314'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-blogger-rect:before { content: '\e803'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-deviantart:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-wordpress-1:before { content: '\f31d'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-instagram-filled:before { content: '\e805'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-spotify-circled:before { content: '\f328'; } /* '' */
.icon-instagrem:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-glass:before { content: '🍸'; } /* '\1f378' */
.icon-mic:before { content: '🎤'; } /* '\1f3a4' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-user-1:before { content: '\e808'; } /* '' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-download-2:before { content: '📥'; } /* '\1f4e5' */
.icon-download:before { content: '\e812'; } /* '' */
.icon-newspaper:before { content: '📰'; } /* '\1f4f0' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */